/* line 7, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-main {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: none;
}
/* line 8, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-main *, .lotusSelect-main *:after, .lotusSelect-main *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-select {
  display: none;
}

/* line 22, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-border {
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px inset;
}

/* line 28, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 2px;
}

/* line 33, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-clickable {
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: inherit;
}
/* line 38, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-clickable a {
  text-decoration: none;
  display: block;
  padding: 0px 0px 0px 8px !important;
  position: relative;
  float: none !important;
  background: none !important;
}
/* line 45, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-clickable a span {
	display: inline-block;
  padding-right: 26px;
  vertical-align: baseline;
}
/* line 50, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-clickable a div {
  position: absolute;
  height: 100%;
  width: 18px;
  top: 0;
  right: 0;
}
/* line 56, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-clickable a div b {
  display: block;
}

/* line 63, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-down-icon {
  width: 100%;
  height: 100%;
  background: url(../img/lotusselect-sprite.png) no-repeat 0px 2px;
}

/* line 69, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-up-icon {
  width: 100%;
  height: 100%;
  background: url(../img/lotusselect-sprite.png) no-repeat -18px 2px;
}

/* line 75, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-search-icon {
  background: url(../img/lotusselect-sprite.png) no-repeat 100% -20px;
}

/* line 79, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-dropDown {
  display: block;
  position: absolute;
  margin: -3px 0 0 0;
  padding: 0;
  height: 100%;
  background-color: inherit;
  overflow: hidden;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 100%;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-top: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 5px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 100, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-help {
  margin: 0;
  padding: 4px 4px 0 4px;
  background-color: inherit;
  position: relative;
}
/* line 105, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-help input {
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  padding-right: 20px;
  padding-left: 4px;
}

/* line 114, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-list {
  overflow-y: auto;
  background-color: inherit;
  padding-top: 5px;
  display: block;
  width: auto;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
}
/* line 123, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-list ul {
  float: none !important;
  list-style: none;
  display: block;
  padding: 2px 8px 2px 3px !important;
  width: 100%;
}
/* line 129, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-list ul li {
  height: auto !important;
  width: 100%;
  float: none !important;
  display: list-item;
  padding: 3px 2px 3px 0px !important;
  cursor: pointer;
}
/* line 136, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-list ul li:hover {
  background-color: #1A9AC0;
  color: #ffffff;
}

/* line 144, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-chosen {
  color: #888888;
}

/* line 148, ../../vendor/assets/stylesheets/lotusselect.css.scss.erb */
.lotusSelect-search-hide {
  display: none !important;
}

